@using WepAppMVC1.Models

@{
    ViewBag.Title = "Index";
}

<h2> Ajax View Index</h2>

<div class="row">
    <div class="col-md-6" id="indexlist">
        @foreach (var item in People.people)
        {
            <div class="row" id="@( "PeopleId" + item.Id )">

                <div class="col-md-8">
                    @Html.Action("PartPerson", "Partial", new { id = item.Id })
                </div>

                <div class="col-md-4">
                    @Ajax.ActionLink("Remove", "AjaxRemovePerson", new { id = item.Id },
                     new AjaxOptions
                     {

                         InsertionMode = InsertionMode.Replace,
                         UpdateTargetId = $"PeopleId" + item.Id

                     }, new { @class = "btn btn-danger" })
                </div>
            </div>
        }
    </div>
    <div class="col-md-6" id="AddList">
        @foreach (var item in People.people)
        {
            <div class="row" id="@( "PeopleId" + item.Id )">

                <div class="col-md-8">
                    @Html.Action("AjaxAddPerson", "Partial", new { id = item.Id })
                    @Html.Action("AjaxAddPerson", "Partial", new { City = item.City })
                    @Html.Action("AjaxAddPerson", "Partial", new { Name = item.Name })
                    @Html.Action("AjaxAddPerson", "Partial", new { PhoneNumbers = item.PhoneNumbers })
                </div>

                <div class="col-md-4">
                    @Ajax.ActionLink("Add", "AjaxAddPerson", new { id = item.Id },
                     new AjaxOptions
                     {

                         InsertionMode = InsertionMode.ReplaceWith,
                         UpdateTargetId = $"PeopleId" + item.Id

                     }, new { @class = "btn btn-danger" })
                </div>
            </div>
        }
    </div>


</div>