 @model List<DisplayLIstBySession.Models.Book>
 @{
     //    ViewBag.Title = "Index";
     //}
     //
     //<h2>Index</h2>
     //
     //<div>
     //    Show the Book collection here 
     //</div>
     //
     //<div>
     //        <table class="table">
     //            <tr >
     //                <th>Id</th>
     //                <th>AuthorName</th>
     //                <th>Title</th>
     //                <th>Publisher</th>
     //                <th>PublishDate</th>
     //            </tr>
     //                @foreach (var book in Model)
     //                {
     //            <tr>
     //                    <td>@book.Id</td>
     //                    <td>@book.AuthorName</td>
     //                    <td>@book.Title</td>
     //                    <td>@book.Publisher</td>
     //                    <td>@book.PublishDate.ToShortDateString()</td>
     //            </tr>
     //                }
     //        </table>
     //</div>
     //<div>
     //    <!--when we hit this like it will call action "AddBook" type of Get not post becuase type of post will hit by submit button  -->
     //    @Html.ActionLink("add new book", "AddBook")
     //</div>
     //
 }